*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

--white: hsl(0, 100%, 100%);
--purple-100: hsl(275, 100%, 97%);
--purple-600: hsl(292, 16%, 49%);
--purple-950: hsl(292, 42%, 14%);
}

body {
    background-color:var(--purple-100);
    background-image: url(assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

.main { 
    background-color: var(--white);
    border-radius: 8px;
    margin: 7rem 1rem;
    padding: 1.3rem 1.3rem 0;
}

.title--div,
.details--div {
    display: flex;
}

.details--div {
    flex-direction: column;
}

.star {
    width: 25px;
}

.title {
    font-size: 1.7rem;
    margin-left: 1rem;
}

.question {
    padding: 1rem 0;
}

.summary-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* list-style: none; */
    width: 100%;
}

.title,
.question {
    color: var(--purple-950);
}

.question {
    font-size: .8rem;
    text-wrap: balance;
    width: 100%;
}

.answer {
    color: var(--purple-600);
    font-size: .72rem;
    line-height: 1.15rem;
    padding-bottom: 1rem;
}

.hr {
    border-top: var(--purple-100) solid 1px;
}

details:last-of-type summary {
    list-style: none;
    &::after {
        content: url(assets/images/icon-plus.svg);
    }
    [open] &::after {
        content: url(assets/images/icon-minus.svg);
    }
}

details:last-of-type summary::-webkit-details-marker {
    display: none
}


/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */